name: CI/CD complet - Build È™i Deploy

on:
  push:
    branches: [ master ]

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build -t felicia009/dockerhub_felicia:latest .

    - name: Push Docker image to Docker Hub
      run: |
        docker push felicia009/dockerhub_felicia:latest

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'

    - name: Create kube config directory
      run: mkdir -p $HOME/.kube

    - name: Setup kubeconfig file
      run: echo "${{ secrets.KUBECONFIG }}" | base64 --decode > $HOME/.kube/config

    - name: Deploy to Kubernetes cluster
      run: |
        kubectl set image deployment/web web=felicia009/dockerhub_felicia:latest
        kubectl rollout status deployment/web
